.Gameroom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.room-info {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px auto;
}

.user-list {
  border: 2px solid #00fe00;
  height: 20vh;
  width: 90vw;
  margin: auto;
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
} 

.user-list p {
  margin: 0px 5px;
}

.exit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.game-setting {
  width: 90vw;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.game-setting > .setting {
  margin-bottom: 10px;
  display: flex;
}

.table-formation {
  height: 500px;
  display: flex;
  align-items: center;
}

.table-formation-player {
  margin: 0 10px;
  border: 1px solid black;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.Gameroom > .button-group {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto;
}

.Gameroom > .button-group > button {
  margin-bottom: 10px;
}

/* For PC ONLY */
/* .table-formation-player:hover {
  background-color: crimson;
  color: white;
} */