.Message {
  background-color: black;
  border: 1px solid #00fe00;
  margin-top: 10px;
  padding: 5px;
  min-width: 50vw;
}

.Message p {
  color: crimson;
  font-weight: bold;
  text-align: center;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 10;}
}