.Message {
  background-color: #00ffffa8;
  margin: 10px 5px 0px 5px;
  padding: 5px;
  min-width: 50vw;
}

.Message p {
  color: black;
  font-weight: bold;
  text-align: center;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 10;}
}