.Sheriff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sheriff-power {
  width: 95vw;
  border: 1px solid #00fe00;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.sheriff-power > p {
  color: white;
}

.target-list {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.target-players {
  border: 1px solid black;
  background-color: transparent;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.target-players:hover{
  background-color: crimson;
  color: white;
}

