body {
  background-color: black;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.message-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  top: 0;
  position: absolute;
}

.instruction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95vw;
}

.instruction > p {
  color: white;
}