* {
  margin: 0;
  padding: 0;
  font-family: 'Grandstander';
  text-decoration: none;
  color: black;
}

input {
  height: 2em;
  text-align: center;
}

input::placeholder {
  text-align: center;
}

button {
  height: 2em;
}